
body{
    font-family: 'Playfair Display', Georgia, serif;;
    background: #4b3832;
    color: #3c2f2f;
}


/*===============Section first===================*/

.first .col-md-4{
    background-color: white;
}

.first h3{
    color: brown;
}

.empty{
    width: 100%;
    height: 80px;
    background-color: #f7f0e7;
}

/*===============Section second===================*/

.bg-dark{
    background: rgb(133, 68, 66) !important;
}

#navbarNav ul li a{
    color: white;
    margin-right: 20px;
}

.happy{
    background-color: rgb(226, 118, 81);
}

.happy a{
    color: white;
}

/*===============Section third===================*/
.third{
    width: 100%;
    height: auto;
}

.three{
    padding: 0;
}

.three img{
    width: 100%;
}

/*===============Section fourth===================*/

.section_bg{
   background-color: #f7f0e7 !important;
    padding: 0;
}


.fourth h3{
    font-size: 35px;
    margin-bottom: 20px;
}


.text{
    color: #4b3832;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    padding-bottom: 10px;
}

.btn-deep-orange{
    background: #e27651;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 14px 20px;
}

/*===============Section fifth===================*/

.coffee_order{
    background-color: white;
    font-family: 'Playfair Display', Georgia, serif;
}

.coffee_order h3 {
    font-size: 35px;
    line-height: 46px;
}

.coffee_order p {
    color: #999999;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
}

/*===============Section sixth===================*/

.breakfast{
    background: rgb(133, 68, 66);
}

.breakfast h3 {
    color: #fff;
    font-size: 35px;
    line-height: 46px;
}

.breakfast p {
    color: #999999;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
}
/*===============Section seventh===================*/

.lunch{
    background-color: white;
}

.lunch h3 {
    color: #fff;
    font-size: 35px;
    line-height: 46px;
}

.lunch p {
    color: #999999;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
}

/*===============Section eighth===================*/

.picture img{
    width: 100%;
    height: 200px;
}

.two_picture img{
    width: 100%;
    height: 350px;
}

.bg{
    background-color: rgb(226, 118, 81);
}

.bg h2{
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 35px;
    line-height: 46px;
    text-align: left;
    color: #ffffff;
}

.bg p{
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    color: #ffffff;
}

/*===============Section nine===================*/

.contacts{
    background: #e4d5c3;
    padding-bottom: 20px;
}

.contacts h3{
    color: #3c2f2f;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 35px;
    line-height: 46px;
    text-align: left;
}

.contacts p{
    color: #4b3832;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
}

.table_name{
    color: #3c2f2f;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 25px;
    line-height: 35px;
}

.table_text{
    color: #4b3832;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 28px;
}

.table {
    border-spacing: none;
}

table.table td {
    padding-top: 0;
    padding-bottom: 0;
}

/*===============Section footer===================*/

.footer{
    padding-bottom: 20px;
}

.bottom{
    background: rgb(133, 68, 66);
    padding-bottom: 30px;
}

.footer img{
    margin: 50px 15px;
}

.footer h6{
    width: 100%;
    text-align: center;
    color: #e4d5c3;
    padding-bottom: 20px;
}